:host {
  display: block;
  /* background-color: pink; */
  text-align: center;
  overflow-y: scroll;
}

.info {
  text-align: center;
  width: 100%;
}

#content {
  border: 5px solid black;
  border-radius: 10px;
  width: 40%;
}

#flex-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
}

#deck {
  margin-bottom: 1.5em;
}