:host {
  display: inline-block;
  /* background-color: skyblue; */
  transition: color 1s 0;
}

nav {
  height: 100%;
  overflow-y: auto;
}

.deck {
  font-size: 2em;
  /* padding-left: calc(.2em * 1px); */
  padding-left: .5em;
}

.card {
  font-size: 1em;
  /* padding-left: calc(.5em * 1px); */
  padding-left: 1em;
  background-color: transparent;
  /* transition-property: background-color, padding-top, padding-bottom;
  transition-duration: .3s;
  transition-delay: 0; */
  padding-top: .25em;
  padding-bottom: .25em;
}

.card:hover, .card:focus {
  /* background-color: white; */
  background-color: gold;
  /* padding-top: .5em;
  padding-bottom: .5em; */
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}